@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 31, 31);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 20px;
}

#skull {
  filter: invert(100%);
  width: 100px;
}

.inicio {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.inicio .navegacion li{
    list-style: none;
}

@media (min-width: 600px) {
  .inicio {
    width: 50%;
  }
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 22px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: initial;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

nav a:hover {
  color: crimson;
}

.content {
  margin: 20px;
  padding: 50px;
  position: relative;
  display: block;
  text-align: center;
}

#galery{
  width: 600px;
  margin: 0 auto;
}

.galery{
  display: flex;
  width: 600px;
  height: 430px;
}

.galery img{
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .3;
  filter: saturate(1%);
  transition: .6s ease;
}

.galery img:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

footer {
  text-align: center;
  padding: 40px;
}

.copyright {
  font-size: 13px;
}
